<div class="aside-profile">
  <h3>Guillaume Subiron</h3>

  <p>Secrétaire de la <a href="http://www.ffdn.org/">Fédération FDN</a> et du FAI associatif <a href="http://www.aquilenet.fr/">Aquilenet</a>.</p>

  <a class="btn btn-small" href="/contact">Me contacter</a>

  <br><br>

  <div>
    {% for menu_item in menu_social %}
    <a href="{{ menu_item.url }}" title="{{ menu_item.name }}"><img src="{{ menu_item.icon }}" alt="{{ menu_item.name }}" title="{{ menu_item.name }}"></a>
    {%- endfor %}
  </div>

  <br>

  <div>
    <a class="twitter-timeline"  href="https://twitter.com/gsubiron"  data-widget-id="348066359814549504">Tweets de @gsubiron</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

</div>

