<p>
Powered by <a href="https://github.com/hyde/hyde">hyde</a> and <a href="http://twitter.github.com/bootstrap">Boostrap</a>.
<a href="http://git.subiron.org/cgit.cgi/www.subiron.org/">Website source</a>.
</p>
<p>
This website is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>.
</p>
<p>
<img src="http://i.creativecommons.org/l/by/3.0/88x31.png">
</p>
